#vtt-toast {
  visibility: hidden;
  min-width: 5%;
  min-height: 2%;
  background-color: #f1a20f;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 1%;
  position: fixed;
  right: 2%;
  bottom: 2%;
}

#vtt-toast.show {
  visibility: visible;
  animation: fade-in 0.5s, fade-out 0.5s 2.5s;
}

@keyframes fade-in {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 2%;
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    bottom: 2%;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}
